extends layout

block content
  h1= title
  p Welcome to #[em Joe's Groceries]

  h2 Dynamic content

  p The grocerie store has the following record counts:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Categories:] !{category_count}
